.player-wrapper {
  display: block;
  width: 100%;
}

.player-wrapper .hidden {
  display: none;
}

.player-wrapper .placeholder {
  min-height: 320px;
  position: relative;
}

.player-wrapper .placeholder > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
